### Fetch the zip file

In [2]:
! wget https://databank.worldbank.org/data/download/WDI_csv.zip

--2022-01-21 06:08:48--  https://databank.worldbank.org/data/download/WDI_csv.zip
Resolving databank.worldbank.org (databank.worldbank.org)... 192.86.98.102
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 67669068 (65M) [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip           3%[                    ]   2,06M   105KB/s    in 21s

2022-01-21 06:09:17 (103 KB/s) - Read error at byte 2162688/67669068 (Connection reset by peer). Retrying.

--2022-01-21 06:09:18--  (try: 2)  https://databank.worldbank.org/data/download/WDI_csv.zip
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 206 Partial Content
Length: 67669068 (65M), 65506380 (62M) remaining [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip          34%[=====>              ]  22,22M  92,2KB/s    eta 10m 49s^C

#### Unzip

In [4]:
!unzip WDI_csv.zip -d data

Archive:  WDI_csv.zip
  inflating: data/WDIData.csv
  inflating: data/WDICountry.csv
  inflating: data/WDISeries.csv
  inflating: data/WDICountry-Series.csv
  inflating: data/WDISeries-Time.csv
  inflating: data/WDIFootNote.csv

In [5]:
# Install other libraries
!pip install pandas

Collecting pandas
  Using cached pandas-1.3.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
Collecting numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10"
  Downloading numpy-1.22.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
     |████████████████████████████████| 16.8 MB 4.9 MB/s eta 0:00:01
Collecting pytz>=2017.3
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in ./venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.22.1 pandas-1.3.5 pytz-2021.3

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load dataframes
df_data = pd.read_csv("data/WDIData.csv")
df_country = pd.read_csv("data/WDICountry.csv")
df_country_series = pd.read_csv("data/WDICountry-Series.csv")
df_WDIFootNote = pd.read_csv("data/WDIFootNote.csv")
df_series = pd.read_csv("data/WDISeries.csv")
df_series_time = pd.read_csv("data/WDISeries-Time.csv")

In [3]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383838 entries, 0 to 383837
Data columns (total 66 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    383838 non-null  object
 1   Country Code    383838 non-null  object
 2   Indicator Name  383838 non-null  object
 3   Indicator Code  383838 non-null  object
 4   1960            37379 non-null   float64
 5   1961            42384 non-null   float64
 6   1962            44643 non-null   float64
 7   1963            44491 non-null   float64
 8   1964            45044 non-null   float64
 9   1965            47213 non-null   float64
 10  1966            47245 non-null   float64
 11  1967            48987 non-null   float64
 12  1968            48565 non-null   float64
 13  1969            50410 non-null   float64
 14  1970            69132 non-null   float64
 15  1971            76183 non-null   float64
 16  1972            79304 non-null   float64
 17  1973            78791 non-null   float64
 18  1974            80286 non-null   float64
 19  1975            83993 non-null   float64
 20  1976            86295 non-null   float64
 21  1977            90236 non-null   float64
 22  1978            89837 non-null   float64
 23  1979            90717 non-null   float64
 24  1980            95643 non-null   float64
 25  1981            97974 non-null   float64
 26  1982            99737 non-null   float64
 27  1983            99261 non-null   float64
 28  1984            99998 non-null   float64
 29  1985            101364 non-null  float64
 30  1986            102156 non-null  float64
 31  1987            103792 non-null  float64
 32  1988            102254 non-null  float64
 33  1989            103817 non-null  float64
 34  1990            126976 non-null  float64
 35  1991            134342 non-null  float64
 36  1992            139441 non-null  float64
 37  1993            139905 non-null  float64
 38  1994            142194 non-null  float64
 39  1995            149968 non-null  float64
 40  1996            149801 non-null  float64
 41  1997            152093 non-null  float64
 42  1998            153352 non-null  float64
 43  1999            158807 non-null  float64
 44  2000            184641 non-null  float64
 45  2001            178816 non-null  float64
 46  2002            184282 non-null  float64
 47  2003            184021 non-null  float64
 48  2004            189384 non-null  float64
 49  2005            200435 non-null  float64
 50  2006            200776 non-null  float64
 51  2007            206029 non-null  float64
 52  2008            203926 non-null  float64
 53  2009            205222 non-null  float64
 54  2010            218710 non-null  float64
 55  2011            211967 non-null  float64
 56  2012            216450 non-null  float64
 57  2013            210820 non-null  float64
 58  2014            217996 non-null  float64
 59  2015            213471 non-null  float64
 60  2016            213075 non-null  float64
 61  2017            209605 non-null  float64
 62  2018            203509 non-null  float64
 63  2019            176592 non-null  float64
 64  2020            95112 non-null   float64
 65  Unnamed: 65     0 non-null       float64
dtypes: float64(62), object(4)
memory usage: 193.3+ MB

In [4]:
df_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(f"Number of unique countries {len(df_data['Country Name'].unique())}")

indicators = df_data["Indicator Name"].unique()
print(f"Number of unique indicators {len(indicators)}")
indicators.sort()

Number of unique countries 266
Number of unique indicators 1443

In [8]:
df_data_year_cols = df_data.loc[:, ~df_data.columns.isin(['Country Name','Country Code', 'Indicator Name', 'Indicator Code', "Unnamed: 65"])]
print(f"Number of Nan values {df_data_year_cols.isna().sum().sum()}")
print(f"Number of rows with all empty values: {df_data_year_cols[df_data_year_cols.isna().any(axis=1)].shape[0]}")

Number of Nan values 15555269
Number of rows with all empty values: 360846

In [27]:
years = [2020]
years = [str(y) for y in years]
countries = ["Africa Eastern and Southern"]
indicator = "Coverage of social insurance programs (% of population)"

rows = (df_data.loc[:, df_data.columns.isin(['Country Name', 'Indicator Name'] + years)])
print(rows.shape)
rows = rows[(rows["Country Name"].isin(countries)) & (rows["Indicator Name"] == indicator)]
rows.head()
print(rows.shape)

(383838, 3)
(1, 3)