### Fetch the zip file

In [2]:
! wget https://databank.worldbank.org/data/download/WDI_csv.zip

--2022-01-21 06:08:48--  https://databank.worldbank.org/data/download/WDI_csv.zip
Resolving databank.worldbank.org (databank.worldbank.org)... 192.86.98.102
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 67669068 (65M) [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip           3%[                    ]   2,06M   105KB/s    in 21s

2022-01-21 06:09:17 (103 KB/s) - Read error at byte 2162688/67669068 (Connection reset by peer). Retrying.

--2022-01-21 06:09:18--  (try: 2)  https://databank.worldbank.org/data/download/WDI_csv.zip
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 206 Partial Content
Length: 67669068 (65M), 65506380 (62M) remaining [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip          34%[=====>              ]  22,22M  92,2KB/s    eta 10m 49s^C

#### Unzip

In [4]:
!unzip WDI_csv.zip -d data

Archive:  WDI_csv.zip
  inflating: data/WDIData.csv
  inflating: data/WDICountry.csv
  inflating: data/WDISeries.csv
  inflating: data/WDICountry-Series.csv
  inflating: data/WDISeries-Time.csv
  inflating: data/WDIFootNote.csv

In [1]:
# Install other libraries
!pip install pandas
!pip install ipython_sql

Requirement already satisfied: pandas in /home/ash/.local/lib/python3.8/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/ash/.local/lib/python3.8/site-packages (from pandas) (1.22.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: ipython_sql in /home/ash/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (7.30.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (1.4.31)
Requirement already satisfied: sqlparse in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.4.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython_sql) (1.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython_sql) (45.2.0)
Requirement already satisfied: traitlets>=4.2 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (5.1.1)
Requirement already satisfied: pygments in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (2.10.0)
Requirement already satisfied: backcall in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.1.3)
Requirement already satisfied: pickleshare in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (3.0.24)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython_sql) (4.6.0)
Requirement already satisfied: decorator in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (5.1.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/ash/.local/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython_sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/ash/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython_sql) (0.8.3)
Requirement already satisfied: wcwidth in /home/ash/.local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython_sql) (0.2.5)

In [2]:
# Import libraries
import pandas as pd
import sqlite3
import numpy as np

In [3]:
# Load dataframes
df_data = pd.read_csv("data/WDIData.csv")
df_country = pd.read_csv("data/WDICountry.csv")
df_country_series = pd.read_csv("data/WDICountry-Series.csv")
df_WDIFootNote = pd.read_csv("data/WDIFootNote.csv")
df_series = pd.read_csv("data/WDISeries.csv")
# df_series_time = pd.read_csv("data/WDISeries-Time.csv")

# df_series_time.to_sql('WDISeriesTime', conn, if_exists='replace')

In [4]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [6]:
# print(f"Before filtering {df_country.shape}")
# df_country = df_country[df_country.Income_Group.notnull()][['Country_Code', 'Income_Group' ,'Table_Name', 'Short_Name', 'Long_Name', '2-alpha_code', 'Region']]
# country_codes = df_country['Country_Code'].unique()
# print(f"After filtering {df_country.shape}")
# df_country['Country_Code'].sh

In [7]:
df_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383833,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN
383834,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN
383835,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN
383836,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.900000,59.200000,59.400000,59.500000,59.700000,59.900000,60.000000,60.200000,60.4,NaN
383837,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,18000.000000,17000.000000,15000.000000,14000.000000,12000.000000,9700.000000,9600.000000,7500.0,NaN

In [8]:
# print(f"Before filtering {df_data.shape}")
# year_cols = np.arange(1960, 2020, 1)
# df_data_year_cols = df_data.loc[:, ~df_data.columns.isin(['Country_Name','Country_Code', 'Indicator_Name', 'Indicator_Code', "Unnamed: 65"])]
# print(f"Number of Nan values {df_data_year_cols.isna().sum().sum()}")
# print(f"Number of rows with all empty values: {df_data_year_cols[df_data_year_cols.isna().any(axis=1)].shape[0]}")
# df_data = df_data[df_data['Country_Code'].isin(country_codes)]
# print(f"After filtering {df_data.shape}")
# print(df_data.isnull().sum())
# df_data_year_cols[df_data_year_cols.isna().any(axis=1)]

In [11]:
# Replace spaces in column names with underscore
df_data.columns = df_data.columns.str.replace(" ", "_")
df_data = df_data.drop(['Unnamed:_65'], axis=1, errors='ignore')

df_country.columns = df_country.columns.str.replace(" ", "_")
df_country_series.columns = df_country_series.columns.str.replace(" ", "_")
df_WDIFootNote.columns = df_WDIFootNote.columns.str.replace(" ", "_")
df_series.columns = df_series.columns.str.replace(" ", "_")
# df_series_time = df_series_time.columns.str.replace(" ", "_")

conn = sqlite3.connect('data/data.db')
df_data.to_sql('WDIData', conn, if_exists='replace', chunksize=1000)
df_country.to_sql('WDICountry', conn, if_exists='replace') 
df_country_series.to_sql('WDICountrySeries', conn, if_exists='replace') 
df_WDIFootNote.to_sql('WDIFootNote', conn, if_exists='replace') 
df_series.to_sql('WDISeries', conn, if_exists='replace')

conn.close()

In [10]:
# Filter data from df_data
countries = df_data['Country_Name'].unique()
print(f"Number of unique countries {len(countries)}")

print(countries)

Number of unique countries 266
['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World'
 'Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas, The' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde'
 'Cambodia' 'Cameroon' 'Canada' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Channel Islands' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador'
 'Egypt, Arab Rep.' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Polynesia' 'Gabon' 'Gambia, The' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guam' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong SAR, China'
 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran, Islamic Rep.' 'Iraq'
 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan'
 'Kazakhstan' 'Kenya' 'Kiribati' "Korea, Dem. People's Rep." 'Korea, Rep.'
 'Kosovo' 'Kuwait' 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Macao SAR, China' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia, Fed. Sts.' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan'
 'Palau' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia'
 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Sint Maarten (Dutch part)' 'Slovak Republic' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'South Sudan' 'Spain'
 'Sri Lanka' 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin (French part)'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Tanzania' 'Thailand'
 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela, RB' 'Vietnam' 'Virgin Islands (U.S.)'
 'West Bank and Gaza' 'Yemen, Rep.' 'Zambia' 'Zimbabwe']

In [ ]:
indicators = df_data["Indicator_Name"].unique()
print(f"Number of unique indicators {len(indicators)}")
indicators.sort()

Number of Nan values 15939107
Number of rows with all empty values: 383838

In [27]:
years = [2020]
years = [str(y) for y in years]
countries = ["Africa Eastern and Southern"]
indicator = "Coverage of social insurance programs (% of population)"

rows = (df_data.loc[:, df_data.columns.isin(['Country_Name', 'Indicator_Name'] + years)])
print(rows.shape)
rows = rows[(rows["Country_Name"].isin(countries)) & (rows["Indicator_Name"] == indicator)]
rows.head()
print(rows.shape)

(383838, 3)
(1, 3)

In [28]:
# Create SQLite db

/home/ash/.local/lib/python3.8/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [12]:
c = conn.cursor()
c.execute(f"SELECT * FROM WDIData where Indicator_Name = {indicator} limit 10;")
rows = c.fetchall()

for row in rows:
    print(row)

OperationalError: near "of": syntax error

In [31]:
sql = "SELECT * from WDIData where Indicator_Name = (?)"
args = (indicator)
cursor = conn.execute(sql, args)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 55 supplied.

In [ ]:
'''Select DISTINCT Topic from WDISeries order by Topic asc;'''

In [ ]:
selected_indicators = ['']