### Fetch the zip file

In [2]:
! wget https://databank.worldbank.org/data/download/WDI_csv.zip

--2022-01-21 06:08:48--  https://databank.worldbank.org/data/download/WDI_csv.zip
Resolving databank.worldbank.org (databank.worldbank.org)... 192.86.98.102
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 67669068 (65M) [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip           3%[                    ]   2,06M   105KB/s    in 21s

2022-01-21 06:09:17 (103 KB/s) - Read error at byte 2162688/67669068 (Connection reset by peer). Retrying.

--2022-01-21 06:09:18--  (try: 2)  https://databank.worldbank.org/data/download/WDI_csv.zip
Connecting to databank.worldbank.org (databank.worldbank.org)|192.86.98.102|:443... connected.
HTTP request sent, awaiting response... 206 Partial Content
Length: 67669068 (65M), 65506380 (62M) remaining [application/x-zip-compressed]
Saving to: ‘WDI_csv.zip’

WDI_csv.zip          34%[=====>              ]  22,22M  92,2KB/s    eta 10m 49s^C

#### Unzip

In [4]:
!unzip WDI_csv.zip -d data

Archive:  WDI_csv.zip
  inflating: data/WDIData.csv
  inflating: data/WDICountry.csv
  inflating: data/WDISeries.csv
  inflating: data/WDICountry-Series.csv
  inflating: data/WDISeries-Time.csv
  inflating: data/WDIFootNote.csv

In [1]:
# Install other libraries
!pip install pandas
!pip install ipython_sql

Requirement already satisfied: pandas in /home/ash/.local/lib/python3.8/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/ash/.local/lib/python3.8/site-packages (from pandas) (1.22.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: ipython_sql in /home/ash/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (7.30.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (1.4.31)
Requirement already satisfied: sqlparse in /home/ash/.local/lib/python3.8/site-packages (from ipython_sql) (0.4.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython_sql) (1.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython_sql) (45.2.0)
Requirement already satisfied: traitlets>=4.2 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (5.1.1)
Requirement already satisfied: pygments in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (2.10.0)
Requirement already satisfied: backcall in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.1.3)
Requirement already satisfied: pickleshare in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (3.0.24)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython_sql) (4.6.0)
Requirement already satisfied: decorator in /home/ash/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython_sql) (5.1.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/ash/.local/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython_sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/ash/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython_sql) (0.8.3)
Requirement already satisfied: wcwidth in /home/ash/.local/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython_sql) (0.2.5)

In [1]:
# Import libraries
import pandas as pd
import sqlite3
import numpy as np

In [61]:
# Load dataframes
df_data = pd.read_csv("data/WDIData.csv")
df_country = pd.read_csv("data/WDICountry.csv")
df_country_series = pd.read_csv("data/WDICountry-Series.csv")
df_WDIFootNote = pd.read_csv("data/WDIFootNote.csv")
df_series = pd.read_csv("data/WDISeries.csv")
# df_series_time = pd.read_csv("data/WDISeries-Time.csv")

# df_series_time.to_sql('WDISeriesTime', conn, if_exists='replace')

In [14]:
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,NaN,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [15]:
# print(f"Before filtering {df_country.shape}")
# df_country = df_country[df_country.Income_Group.notnull()][['Country_Code', 'Income_Group' ,'Table_Name', 'Short_Name', 'Long_Name', '2-alpha_code', 'Region']]
# country_codes = df_country['Country_Code'].unique()
# print(f"After filtering {df_country.shape}")
# df_country['Country_Code'].sh

In [16]:
df_data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.320475,16.643243,16.994695,17.313168,17.604950,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.224027,32.046478,31.323579,33.312163,38.380433,39.754201,42.168241,43.640661,NaN,NaN
2,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.525353,19.461383,17.790698,16.553470,23.907897,24.624725,26.813900,28.841150,NaN,NaN
3,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,66.303599,66.496010,65.828988,66.926692,68.722184,71.085418,71.994933,73.589886,NaN,NaN
4,Africa Eastern and Southern,AFE,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383833,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN
383834,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN
383835,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN
383836,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,58.900000,59.200000,59.400000,59.500000,59.700000,59.900000,60.000000,60.200000,60.4,NaN
383837,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,18000.000000,17000.000000,15000.000000,14000.000000,12000.000000,9700.000000,9600.000000,7500.0,NaN

In [62]:
# Replace spaces in column names with underscore
df_data.columns = df_data.columns.str.replace(" ", "_")
df_data = df_data.drop(['Unnamed:_65'], axis=1, errors='ignore')

df_country.columns = df_country.columns.str.replace(" ", "_")
df_country_series.columns = df_country_series.columns.str.replace(" ", "_")
df_WDIFootNote.columns = df_WDIFootNote.columns.str.replace(" ", "_")
df_series.columns = df_series.columns.str.replace(" ", "_")

# print(f"Before filtering {df_data.shape}")
# year_cols = np.arange(1960, 2020, 1)
# df_data_year_cols = df_data.loc[:, ~df_data.columns.isin(['Country_Name','Country_Code', 'Indicator_Name', 'Indicator_Code', "Unnamed: 65"])]
# print(f"Number of Nan values {df_data_year_cols.isna().sum().sum()}")
# print(f"Number of rows with all empty values: {df_data_year_cols[df_data_year_cols.isna().any(axis=1)].shape[0]}")
# df_data = df_data[df_data['Country_Code'].isin(country_codes)]
# print(f"After filtering {df_data.shape}")
# print(df_data.isnull().sum())
# df_data_year_cols[df_data_year_cols.isna().any(axis=1)]

In [7]:
# df_series_time = df_series_time.columns.str.replace(" ", "_")

conn = sqlite3.connect('data/data.db')
df_data.to_sql('WDIData', conn, if_exists='replace', index=False)
df_country.to_sql('WDICountry', conn, if_exists='replace', index=False) 
df_country_series.to_sql('WDICountrySeries', conn, if_exists='replace', index=False) 
df_WDIFootNote.to_sql('WDIFootNote', conn, if_exists='replace', index=False) 
df_series.to_sql('WDISeries', conn, if_exists='replace', index=False)

conn.close()

In [ ]:
indicators = df_data["Indicator_Name"].unique()
print(f"Number of unique indicators {len(indicators)}")
indicators.sort()

In [65]:

df_data = pd.read_csv("data/WDIData.csv")
df_data.columns = df_data.columns.str.replace(" ", "_")

print(f"Step 0:{df_data.shape}")

# 1: Countries
df_data = df_data[df_data['Country_Name'].isin(countries)]
countries = df_country[df_country.Income_Group.notnull()]['Table_Name']

print(f"Step 1:{df_data.shape}")

# 2: Indicators
series = df_series[df_series.Topic.str.startswith('Environment:', na = False)]['Indicator_Name']
df_data = df_data[df_data['Indicator_Name'].isin(series)]

print(f"Step 2:{df_data.shape}")

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    
    # r = np.range(1960, 2020)
    print(df_data.isnull().sum())
    
df_data

Step 0:(383838, 66)
Step 1:(307359, 66)
Step 2:(28329, 66)
Country_Name          0
Country_Code          0
Indicator_Name        0
Indicator_Code        0
1960              24833
1961              21352
1962              20875
1963              21324
1964              21277
1965              21249
1966              21238
1967              20765
1968              21224
1969              20375
1970              18829
1971              16954
1972              16406
1973              16941
1974              16930
1975              16914
1976              16905
1977              16246
1978              16898
1979              16909
1980              16699
1981              16656
1982              15885
1983              16639
1984              16613
1985              16587
1986              16571
1987              15559
1988              16490
1989              16488
1990              10857
1991              13266
1992              11457
1993              12654
1994              12562
1995              11451
1996              12440
1997              10928
1998              12414
1999              12402
2000               9032
2001              12211
2002              10510
2003              12129
2004              11959
2005              10477
2006              11902
2007              10201
2008              11721
2009              12744
2010               9779
2011              11900
2012              10210
2013              12692
2014              12650
2015              14715
2016              15746
2017              15470
2018              17227
2019              23990
2020              25703
Unnamed:_65       28329
dtype: int64

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed:_65
70708,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.910000e+01,6.898294e+01,8.950000e+01,7.150000e+01,9.770000e+01,9.770000e+01,9.871562e+01,9.770000e+01,NaN,NaN
70709,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.084916e+01,6.131579e+01,8.650051e+01,6.457335e+01,9.709936e+01,9.709197e+01,9.830960e+01,9.690219e+01,NaN,NaN
70710,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.500000e+01,9.277335e+01,9.870000e+01,9.250000e+01,9.950000e+01,9.950000e+01,9.990215e+01,1.000000e+02,NaN,NaN
70764,Afghanistan,AFG,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.465576e+00,5.518333e+00,5.742548e+00,5.710894e+00,6.481140e+00,5.990504e+00,5.134629e+00,NaN,NaN,NaN
70765,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,5.806758e+01,5.806758e+01,5.806758e+01,5.806758e+01,5.806758e+01,5.806758e+01,5.808137e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383808,Zimbabwe,ZWE,Urban population,SP.URB.TOTL,476164.000,500665.000000,528409.000000,567387.000000,609177.000000,653686.000000,...,4.306228e+06,4.359432e+06,4.416224e+06,4.473872e+06,4.531238e+06,4.589452e+06,4.650597e+06,4.717307e+06,4.792105e+06,NaN
383809,Zimbabwe,ZWE,Urban population (% of total population),SP.URB.TOTL.IN.ZS,12.608,12.821000,13.082000,13.578000,14.092000,14.620000,...,3.283400e+01,3.265400e+01,3.250400e+01,3.238500e+01,3.229600e+01,3.223700e+01,3.220900e+01,3.221000e+01,3.224200e+01,NaN
383810,Zimbabwe,ZWE,Urban population growth (annual %),SP.URB.GROW,NaN,5.017488,5.393339,7.117101,7.106726,7.051825,...,1.148333e+00,1.227943e+00,1.294326e+00,1.296922e+00,1.274094e+00,1.276544e+00,1.323497e+00,1.424249e+00,1.573169e+00,NaN
383811,Zimbabwe,ZWE,Urban population living in areas where elevati...,EN.POP.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383823,Zimbabwe,ZWE,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.428183e+00,NaN,NaN,NaN,NaN,6.307054e+00,NaN,NaN,NaN,NaN

In [1]:
years = [str(i) for i in list(range(1960, 2021))]
c = ['Country_Name', 'Country_Code',  'Indicator_Code']
with pd.option_context('display.max_rows', 10,
                       'display.max_columns', 10,
                       'display.precision', 3,
                       ):
    
    display(df_data.groupby(['Country_Name', 'Indicator_Name'])[years].count())

NameError: name 'pd' is not defined

In [69]:
len(df_data['Indicator_Name'].unique())

133